@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "List Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CandidateApply</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Job name
            </th>
            <th>
                description
            </th>
            <th>
                Statement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.jobName
            </td>
            <td>
                @item.des
            </td>
            <td>
                @item.JobStatement
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.jobID" class="btn btn-primary">Details</a> |
                <a asp-action="UnApply" asp-route-id="@item.jobID" class="btn btn-secondary">Unapply</a>
            </td>
        </tr>
}
    </tbody>
</table>
