@model IEnumerable<QL_Ung_Vien.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (!User.IsInRole("Candidate"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table" style="table-layout: fixed;width: 100%;">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.benifitID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirement)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.jobName)
            </th>
            <th style="max-width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;">
                @Html.DisplayNameFor(model => model.jD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeClose)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.benifitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirement)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.jobName)
            </td>
            <td id="@item.jobName@item.jobID">
                <script>
                        document.getElementById("@item.jobName@item.jobID").innerHTML += `@Html.Raw(item.jD)`
                </script>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeClose)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image.imageID)
            </td>*@
            @if (!User.IsInRole("Candidate"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.jobID" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.jobID" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.jobID" class="btn btn-danger">Delete</a>
                </td>
            }
            else
            {
                <td>
                        <a asp-action="Details" asp-route-id="@item.jobID" class="btn btn-info">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
