@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "ShowCandidateApply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidates apply</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Job name
            </th>
            <th>
                Description
            </th>
            <th>
                Candidate name
            </th>
            <th>
                Statement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.jobName
                </td>
                <td id="@item.jobName@item.jobID">
                    <script>
                        document.getElementById("@item.jobName@item.jobID").innerHTML += `@Html.Raw(item.des)`
                    </script>
                </td>
                <td>
                    @item.CandidateName
                </td>
                <td>
                    @item.JobStatement
                </td>
                <td>
                    <a asp-action="Detail" asp-controller="Candidate" asp-route-id="@item.candidateID" class="btn btn-primary">Candidate</a> |
                    <a asp-action="Details" asp-route-id="@item.jobID" class="btn btn-secondary">Job</a>
                </td>
            </tr>
        }
    </tbody>
</table>
