@using System.Security.Claims;
@model QL_Ung_Vien.Models.Candidate

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cStatement)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image.imageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CV.cVID)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
    </dl>
</div>
<div>
    @{
        var idUser = User.FindFirstValue(ClaimTypes.NameIdentifier);
        if (User.IsInRole("Admin") || idUser == Model.Id)
        {
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.candidateID">Edit</a> <br />

        }
    }
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
