@model QL_Ung_Vien.Models.Candidate

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.firstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.firstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.lastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.lastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.cStatement)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.cStatement)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.phoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.phoneNumber)
                </dd>
                <div>
                    <div>
                        <a href="@Url.Action("DownloadCV", new { id = Model.candidateID })" class="btn btn-outline-info text-infor"> DownLoad CV </a>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model?.candidateID" class="btn btn-primary">Edit</a> |
                        <a asp-action="Index" class="btn btn-dark">Back to List</a>
                    </div>
                </div>
                
            </dl>
        </div>
        
        <div class="col-sm-6">
            @if (ViewBag.url != null)
            {
                <img src="@ViewBag.url" class="img-fluid" />
            }
        </div>
    </div>
    
</div>

