@model X.PagedList.IPagedList<QL_Ung_Vien.Models.Candidate>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidate list</h1>

@* <p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p> *@

<form asp-action="Index" method="get" class="form-check-inline">
    <input type="search" name="name" placeholder="Find name"/> <button class="btn btn-group">Find</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Fisrt name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Statement
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CV)
            </th> *@
            <th>
                Phone number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cStatement)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Image.imageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CV.cVID)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.candidateID" class="btn btn-primary">Edit</a> | *@
                <a asp-action="Detail" asp-route-id="@item.candidateID" class="btn btn-info">Detail</a> 
                @* <a asp-action="Delete" asp-route-id="@item.candidateID" class="btn btn-danger">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

<br />
<div class="pagination">
    <ul class="pagination-list">
        
        @{
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber==1?1:Model.PageNumber-1 })">Previous</a>
            </li>

            for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })"> @i</a>
                </li>
            }
            
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber==Model.PageCount?Model.PageCount:Model.PageNumber+1 })">Next</a>
            </li>
        }

    </ul>
    <style>
        .pagination .pagination-list {
            justify-content: left;
            flex-direction: row;
            margin: 0 auto;
            display: flex;
        }

        .page-item {
            text-decoration: none;
            list-style-type: none;
        }

        .pagination .page-link {
            font-size: 1.2em;
            color: #333;
            text-decoration: none;
            list-style-type: none;
        }

        .pagination .page-link.active {
            background-color: #000;
            color: #fff;
            border-color: #000;
        }
    </style>
</div>